<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://123.56.10.170/OTA/test.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>com.hepanlicai.hepanlicai</key>
				<string></string>
				<key>bundle-version</key>
				<string>2.5.3</string>
				<key>kind</key>
				<string>software</string>
				<key>releaseNotes</key>
				<string>v1</string>
				<key>title</key>
				<string>合盘理财</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
